body {
  text-align: center;
}

.burger div {
  background-color: white;
  width: 35px;
  height: 3px;
  margin: 5px;
}

.burger {
  display: none;
}

@media (max-width: 600px) {
  body {
    overflow-x: hidden;
  }

  header nav .top-menu {
    width: 30%;
  }

  .top-menu {
    position: absolute;
    top: 8%;
    right: 0px;
    flex-direction: column;
    align-items: flex-start;
    height: 60vh;
    background-color: rgba(0, 0, 0, 0.8);
    transform: translateX(100%);
    transition: transform 0.5s ease;
  }
  nav {
    display: flex;
    justify-content: space-between;
  }
  .burger {
    display: block;
    cursor: pointer;
    align-self: center;
    z-index: 50;
  }
}

.toggled {
  transform: translateX(0%);
}

.shop-items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
}
@media (max-width: 1000px) {
  .shop-items {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 768px) {
  .shop-items {
    grid-template-columns: 1fr;
  }
}

.shop-item {
  border: 1px solid white;
  border-radius: 20px;
  padding: 10px;
  box-shadow: rgb(146, 146, 146) 2px 2px;
}

.shop-item-image {
  width: 100%;
}

.alert-box {
  position: fixed;
  left: 50%;
  top: 5%;
  background-color: rgba(0, 0, 0, 0.808);
  transform: translateX(-50%);
  margin: 5px;
  width: 30%;
  font-size: 1.4rem;
  border-radius: 20px;
  line-height: 2rem;
  visibility: hidden;
  padding: 1rem;
}

.alert-pop {
  visibility: visible;
}
.alert-popout {
  visibility: hidden;
}
